/* Navbar */

    .navbar-brand {
        font-weight: 700;
      color: #000000 !important;
      font-size: 1
    }
    .navbar-nav .nav-link {
      font-weight: semibold;
      color: #000000 !important;
       margin: auto 0 0 20px;
       font-family: Arial, sans-serif;
    }
    .navbar-nav .nav-link:hover {
      color: #ffffff !important;
     
    }

    .hero {
      background: url('/asseets/img/Download\ Close-up\ of\ a\ laptop\ and\ coffee\ for\ free.jpg') no-repeat center center/cover;
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
    }
    .hero::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.45);
    }
    .hero-content {
      position: relative;
      z-index: 1;
      max-width: 800px;
      padding: 0 16px;
    }
    .hero h1 {
      font-size: 3rem;
      line-height: 1.3;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .hero p {
      font-size: 1rem;
      margin-top: 5px;
      text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }

    /* Buttons */
    .btn-order {
      background-color: #8B5E3C;
      color: #fff;
      padding: 12px 28px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 12px;
      transition: 0.3s;
      border-radius: 8px;
      text-decoration: none;
    }
    .btn-order:hover {
      background-color: #77431c;
      color: #000000;
    }

    .btn-visit {
      background-color: transparent;
      color: #fff;
      padding: 12px 28px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      border: 2px solid #fff;
      transition: 0.3s;
      text-decoration: none;
    }
    .btn-visit:hover {
      background-color: #fff;
        color: #000;
    }

    /* Responsive tweaks */
    @media (max-width: 768px) {
      .hero h1 {
        font-size: 2rem;
      }
      .hero p {
        font-size: 1rem;
      }
      .btn-order, .btn-visit {
        display: block;
        margin: 10px auto;
        width: 70%;
      }
      .contact-us form {
       height: max-content;
       width: 100%;
       margin-top: 20px;
       margin-bottom: 20px;
      }
    }

.about-us img {
  box-shadow: 0 8px 32px rgba(0,0,0,0.20) !important;
}

.about-us h2 {
  font-size: 2rem;
  font-family: 'ui-sans-serif', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  font-weight: bold;
  color: #734c2f;
}

.about-us p {
  font-size: 15px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.services .display-4 svg {
  width: 48px;
  height: 40px;
}
.services h2{
  font-size: 2rem;
font-family: 'ui-sans-serif', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
font-weight: bold;
color: #734c2f;
margin-top: auto;

}
.services p {
  font-size: 15px;
 font-weight: 500;
   font-family: 'Roboto', sans-serif;
}

.contact-us h2 {
  font-size: 2rem;
  font-family: 'ui-sans-serif', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: bolder;
  color: #734c2f;
  margin-top: auto;
}
.contact-us p {
  font-size: 15px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.contact-us form {
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.20) !important;
  margin: auto;
  padding: 25px;
}
.contact-us [type="text"],[type="email"], textarea {
  border-radius: 8px;
  border: 1px solid #918f8f;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family:  'ui-sans-serif', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.contact-us form .form-label {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.contact-us button{
background-color: #8B5E3C;
font-family:  'ui-sans-serif', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
color: #fefefe;
padding: 10px 40px;
font-size: 16px;
font-weight: 500;
cursor: pointer;
}
.contact-us button:hover{
background-color: #814416;
transition: 0.3s;
}
.footer{
  background-color: #f8f9fa;
  padding: 40px 0;
  margin-top: 20px;
}
footer p {
  font-style: italic;
  margin: 20px 0;
  font-size: 15px;
}